In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
ad_df = pd.read_csv('../data/raw_data/ad.csv')
click_df = pd.read_csv('../data/raw_data/click_log.csv')

In [4]:
print("len of ad df: ", len(ad_df))
print("len of click df: ", len(click_df))

len of ad df:  2481135
len of click df:  30082771

### creative_id are very same in click_df and ad_df

In [5]:
user_df = pd.merge(click_df, ad_df, how='left', on='creative_id')

In [6]:
user_df.head(5)

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
0,9,30920,567330,1,504423,30673,3,32638,319
1,65,30920,3072255,1,2642300,1261,2,6783,6
2,56,30920,2361327,1,2035918,1261,2,6783,6
3,6,309204,325532,1,292523,27081,3,32066,242
4,59,309204,2746730,1,2362208,\N,18,14682,88

In [8]:
user_df = user_df.set_index(['user_id', 'time']).sort_index().reset_index()

In [12]:
user_df.to_csv('../data/processed_data/user_df.csv')

,user_id,time,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
0,1,20,821396,1,724607,\N,5,7293,326
1,1,20,209778,1,188507,136,2,9702,6
2,1,20,877468,1,773445,\N,5,29455,106
3,1,39,1683713,1,1458878,\N,5,14668,326
4,1,40,122032,1,109959,1334,2,11411,\N